<textarea id="marketplace">
  <div class="container">
    <!--Window-->
    <div class="window">
      <!--Title-->
      <div class="windowTitle">
        {if screen == "marketplace"}
          <span class="loadedImg" imgSrc="images/marketplace/buy_window_title.png" alt="title"/>
        {else}
          <span class="loadedImg" imgSrc="images/marketplace/my_stuff_title.png" alt="close" />
        {/if}
      </div>
      <!--Close-->
      <div class="close">
        <a href="javascript:void(0)"> <span class="loadedImg" imgSrc="images/marketplace/close_button.png" alt="close" /></a>
      </div>
      <!--Tabs Wrapper-->
      <div class="tabsWrapper">
        <!--Tabs-->
        <ul class="tabs">
          <li class="disabled">
            <a id="marketMoves" href="javascript:void(0)">Moves</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
          <li class="selected">
            <a id="marketMembers" href="javascript:void(0)">Members</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
          <li class="disabled">
            <a id="marketItems" href="javascript:void(0)">Items</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
          <li class="disabled">
            <a id="marketPowerups" href="javascript:void(0)">Powerups</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
          <li class="disabled">
            <a id="marketSpecial" href="javascript:void(0)">Special</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
          <li class="disabled">
            <a id="marketCrowdItems" href="javascript:void(0)">Crowd Items</a>
            <span class="loadedImg" imgSrc="images/marketplace/tab_background.png" class="positioned" alt="Tab"/>
          </li>
        </ul>
        <!--Tabs Content-->
        <div class="tabsContent">
          <!--Left controls-->
          <div class="leftControls">
            <a href="javascript:void(0)"><img src="images/marketplace/previous_button.png" alt="Previous" /></a>
            <a href="javascript:void(0)"><img src="images/marketplace/first_button.png" alt="First" /></a>              
          </div>
          <div style="display:none;" id="dialogBox" class="dialogBox">
            <!--Close-->
            <div class="close">
              <a href="javascript:void(0)" onclick="$('dialogBox').hide();"><img src="images/marketplace/close_button.png" alt="close" /></a>
            </div>          
            <h2>Successful Purchase</h2>
            <p>Crowd member called successfully, it is now in your "My Stuff" menu</p>
            <img class="positioned" src="images/marketplace/dialog_box.png" alt="Dialog Background" />
          </div>
          <!--Floating Items-->
          <div id="floatingItems" class="floatingItems">
            
          </div>
          <!--Right controls-->
          <div class="rightControls">
            <a href="javascript:void(0)"><img src="images/marketplace/next_button.png" alt="Next" /></a>
            <a href="javascript:void(0)"><img src="images/marketplace/last_button.png" alt="Last" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</textarea>

<textarea id="floatingItems">
  <ul>
    <!--Crowed Item-->
    {for item in categoryItems}
    <li id="${item.codeName}_container">
      <div id="${item.codeName}_details" class="detailsBox" style="display:none; left:120px, top:0">
        <div class="crowdMemeberDetails">
          {for spec in item.specIds}
            <!--Crowd statistic-->
            <dl>
              <dt>${spec.humanize()}</dt>
              <dd>${item.specs[spec]}</dd>
            </dl>
          {/for}
        </div>
      </div>
      <div class="crowedItem">
        <img class="positioned" src="images/marketplace/item_background.png" alt="Item background" />
        <!--Crowed Title-->
        <div class="crowedItemTitle">
          <h2>${item.displayName}</h2>
          <img class="positioned" src="images/marketplace/item_title_background.png" alt="Title" />
        </div>
        <!--Crowed Image-->
        <div class="crowedItemImage">
          <img id=${item.codeName} class="positioned" src="images/marketplace/members/${item.codeName}.png" alt="Crowed" style="width:95px;" />
        </div>
        {if screen == "marketplace"}
          <div onclick="gameManager.marketplace.buy({category : 'marketMembers', name : '${item.codeName}', buyID : '${item.buyID}' })" class="crowedItemDetails">
            <a href="javascript:void(0)">1200 Call</a>
            <img class="positioned" src="images/marketplace/item_details.png"  alt="Item Details" />
          </div>
        {else}
          {if item.memberData.linked_to}
            Linked
          {else}
            <div class="linkToFriend">
              <a id="${item.codeName}-${item.memberID}" class="linkMembers" href="javascript:void(0)" title="Linked to a friend"><img alt="Linked" src="images/marketplace/linked.png"></a>
            </div>
          {/if}
          <div class="crowedItemDetails">
            <a href="javascript:void(0)" title="Not supported yet!">Upgrade</a>
            <img class="positioned" src="images/marketplace/item_details.png"  alt="Upgrade Details" />
          </div>
        {/if}
      </div>
    </li>
    {/for}
  </ul>
</textarea>