<textarea id='win'>
	<!--Win/Lose Screen-->
  <div class="winLose" style="position : absolute; top : 70px; left : 120px;">
    <!--Close-->
    <div class="close">
      <a href="#"><span class="loadedImg" imgSrc="game_elements/close_button.png" alt="close"></span></a>
    </div>  
  	<!--Win/Lose Title-->
  	<div class="winLoseTitle">
    	<h2>${t('congrats')}</h2>
   		<h4>${t('youPassedThisMission')}</h4>
    </div>
      <!--Time-->
      <div class="timeWrapper">
        <h5>${t('yourTime')}</h5>
        <span class="yourTime">${missionTime}</span>
        <strong class="bestTime">${t('bestTime')} ${superTime}</strong>
        <span class="loadedImg" imgSrc="win_lose/time_background.png" alt="time" imgClasses="positioned"></span>
      </div>
    <!--Score-->
    <div class="winLoseScore">
    	<h5>${t('yourScore')}</h5>
      <span>${score['score']}</span>
      <span class="loadedImg" imgSrc="win_lose/score_background.png" alt="Score" imgClasses="positioned"></span>
    </div>
    <!--Stars-->
    <div class="starsWrapper">
    	<span {if score.stars > 0} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 1} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 2} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/star_icon.png" alt="Star"></span>
      </span>
    </div>
    <!--Changes 28 Sept.-->
      <!--Objectives-->
      <div class="objectives">
        <ul>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li class="notCompleted"><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li class="notCompleted"><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
        </ul>
        <span class="loadedImg" imgSrc="win_lose/objectives.png" alt="objectives" imgClasses="objectivesBg"></span>
      </div>
      <!--Powerups-->
      {if powerups && powerups.length>0}
      <div class="newPowerups">
        <strong>${t('youHaveReceivedNewPowerups')}</strong>
        <ul>
          {for powerup in powerups}
          <li><span class="loadedImg" imgSrc="powerups/${powerup.name}_${powerup.type}_big.png" alt="Item" ></span></li>
          {/for}
        </ul>
      </div>
      {/if}
    <!--Challenge friends-->
    <div class="challengeFriends">
      {for friend in friends}
			<!--Friend-->
    	<div class="friend">
      	<a href="${friend['url']}" target="_blank">
          <span class="friendsScore">
          	<span>{if friend.missions[mode][mission] && friend.missions[mode][mission]['score']}
                     ${friend.missions[mode][mission]['score']} 
                  {else}
                     0 
                  {/if}
            </span>
          	<span class="loadedImg" imgSrc="friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
          </span>
          <!--New changes end here-->
          <img  class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
          <span class="friendName">${friend.first_name}</span>
          <span class="loadedImg" imgSrc="friends/friend_box.png" alt="friend"></span>
        </a>
        <!--Challenge button-->
        <a class="cancelButton" href="javascript:void(0)" id="${friend.service_id}">
          <span>${t('challenge')}</span>
          <span class="loadedImg" imgSrc="win_lose/button_cancel.png" alt="confirm"></span>
        </a>
      </div>
      {/for}

      <!--Challenge other friends-->
      <a href="javascript:void(0)" class="bigButton">
        <span>${t('challengeOtherFriends')}</span>
        <span class="loadedImg" imgSrc="win_lose/button_big.png" alt="button"></span>
      </a>

    </div>
    <!--Mission icons-->
    <div class="missionIcons">
    	<!--Replay-->
      <a class="replayButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="win_lose/replay_button.png" alt="Replay"></span>
      </a>
    	<!--Home-->
      <a class="homeButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="win_lose/home_button.png" alt="Replay"></span>
      </a>
    	<!--Next mission-->
      {if next == true}
      <a class="nextMissionButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="win_lose/next_mission_button.png" alt="Next Mission"></span>
      </a>
      {/if}
    </div>
    <span class="loadedImg" imgSrc="win_lose/win_lose_window.png" alt="Score" imgClasses="positioned"></span>
  </div>
</textarea>

<textarea id="lose">
  <!--Win/Lose Screen-->
  <div class="winLose" style="position : absolute; top : 100px; left : 164px;">
    <!--Close-->
    <div class="close">
      <a href="#"><span class="loadedImg" imgSrc="game_elements/close_button.png" alt="close"></span></a>
    </div>  
  	<!--Win/Lose Title-->
  	<div class="winLoseTitle">
    	<h2>${t('badLuck')}</h2>
   		<h4>${t('youFailedThisMission')}</h4>
    </div>
      <!--Time-->
      <div class="timeWrapper">
        <h5>${t('yourTime')}</h5>
        <span class="yourTime">${missionTime}</span>
        <strong class="bestTime">${t('bestTime')} ${superTime}</strong>
        <span class="loadedImg" imgSrc="win_lose/time_background.png" alt="time" imgClasses="positioned"></span>
      </div>
    <!--Score-->
    <div class="winLoseScore">
    	<h5 class="losing">${t('yourScore')}</h5>
      <span>${score['score']}</span>
      <span class="loadedImg" imgSrc="win_lose/lose_score_background.png" alt="Score" imgClasses="positioned"></span>
    </div>
    <!--Stars-->
    <div class="starsWrapper">
    	<span {if score.stars > 0} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/lose_star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 1} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/lose_star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 2} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="win_lose/lose_star_icon.png" alt="Star"></span>
      </span>
    </div>
    <!--Changes 28 Sept.-->
      <!--Objectives-->
      <div class="objectives">
        <ul>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li class="notCompleted"><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
          <li class="notCompleted"><span class="loadedImg" imgSrc="win_lose/objectivesState.png" alt="state"></span> This is the first objectives</li>
        </ul>
        <span class="loadedImg" imgSrc="win_lose/objectives.png" alt="objectives" imgClasses="objectivesBg"></span>
      </div>
    <!--Mission icons-->
    <div class="missionIcons losing">
    	<!--Replay-->
      <a class="replayButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="win_lose/lose_replay_button.png" alt="Replay"></span>
      </a>
    	<!--Home-->
      <a class="homeButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="win_lose/lose_home_button.png" alt="Replay"></span>
      </a>
    </div>
    <span class="loadedImg" imgSrc="win_lose/lose_window.png" alt="Score" imgClasses="positioned"></span>
  </div>
</textarea>

<textarea id="pause">
  <div class="pauseScreen">
    <span class="loadedImg lang" imgSrc="game_elements/paused_screen.png" alt="Pause"></span>
  </div>
  <div class="controls">
    <a class="playBtn" href="#"><span class="loadedImg" imgSrc="game_elements/play_btn.png" alt="Play"></span></a>
    <a class="exitBtn" href="#"><span class="loadedImg" imgSrc="game_elements/exit_btn.png" alt="Exit"></span></a>
    <span class="loadedImg" imgSrc="game_elements/controls_area.png" alt="Controls"></span>
  </div>
</textarea>
