<textarea id='winLose'>
	<!--Win/Lose Screen-->
  <div class="winLose">
    <!--Close-->
    <div class="close">
      <a href="#"><span class="loadedImg" imgSrc="images/game_elements/close_button.png" alt="close"></span></a>
    </div>  
  	<!--Win/Lose Title-->
  	<div class="winLoseTitle">
    	<h2>Congratulation!</h2>
   		<h4>You've passed this mission.</h4>
    </div>
    <!--Score-->
    <div class="winLoseScore">
    	<h5>Your Score</h5>
      <span>${score['score']}</span>
      <span class="loadedImg" imgSrc="images/win_lose/score_background.png" alt="Score" imgClasses="positioned"></span>
    </div>
    <!--Stars-->
    <div class="starsWrapper">
    	<span {if score.stars > 0} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 1} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
    	<span {if score.stars > 2} class="star selected" {else} class="star" {/if} >
      	<span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
    	<span class="loadedImg" imgSrc="images/win_lose/stars_background.png" alt="Stars" imgClasses="positioned"></span>
    </div>
    <!--Changes 28 Sept.-->
    <!--Objective-->
    <div class="objectives">
    	<strong><small>${score['objectives']*100}%</small></strong>from your objectives
    </div>
    <!--Changes 25 Sept.-->
    <!--Challenge friends-->
    <div class="challengeFriends">
      {for friend in friends}
			<!--Friend-->
    	<div class="friend">
      	<a href="${friend['url']}" target="_blank">
          <span class="friendsScore">
          	<span>{if friend.missions[mode][mission]['score']} ${friend.missions[mode][mission]['score']} {else} 0 {/if}</span>
          	<span class="loadedImg" imgSrc="images/friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
          </span>
          <!--New changes end here-->
          <img  class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
          <span class="friendName">${friend.first_name}</span>
          <span class="loadedImg" imgSrc="images/friends/friend_box.png" alt="friend"></span>
        </a>
        <!--Challenge button-->
        <a class="cancelButton" href="javascript:void(0)" id="${friend.service_id}">
          <span>Challenge</span>
          <span class="loadedImg" imgSrc="images/win_lose/button_cancel.png" alt="confirm" />
        </a>
      </div>
      {/for}
    </div>
    <!--Mission icons-->
    <div class="missionIcons">
    	<!--Replay-->
      <a class="replayButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/replay_button.png" alt="Replay" />
      </a>
    	<!--Home-->
      <a class="homeButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/home_button.png" alt="Replay" />
      </a>
    	<!--Next mission-->
      <a class="nextMissionButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/next_mission_button.png" alt="Next Mission" />
      </a>
    </div>
    <span class="loadedImg" imgSrc="images/win_lose/win_lose_window.png" alt="Score" imgClasses="positioned"></span>
  </div>
</textarea>


<textarea id='staticWinLose'>
  <!--Win/Lose Screen-->
  <div class="winLose staticWinLose">
    <!--Close-->
    <div class="close">
      <a href="#"><span class="loadedImg" imgSrc="images/game_elements/close_button.png" alt="close"></span></a>
    </div>  
    <!--Win/Lose Title-->
    <div class="winLoseTitle">
      <h2>Congratulation!</h2>
      <h4>You've passed this mission.</h4>
    </div>
    <!--Score-->
    <div class="winLoseScore">
      <h5>Your Score</h5>
      <span>...</span>
      <span class="loadedImg" imgSrc="images/win_lose/score_background.png" alt="Score" imgClasses="positioned"></span>
    </div>
    <!--Stars-->
    <div class="starsWrapper">
      <span class="star">
        <span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
      <span class="star">
        <span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
      <span class="star">
        <span class="loadedImg" imgSrc="images/win_lose/star_icon.png" alt="Star"></span>
      </span>
      <span class="loadedImg" imgSrc="images/win_lose/stars_background.png" alt="Stars" imgClasses="positioned"></span>
    </div>
    <!--Objective-->
    <div class="objectives">
      <strong><small>...%</small></strong>from your objectives
    </div>
    <!--Mission icons-->
    <div class="missionIcons">
      <!--Replay-->
      <a class="replayButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/replay_button.png" alt="Replay" />
      </a>
      <!--Home-->
      <a class="homeButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/home_button.png" alt="Replay" />
      </a>
      <!--Next mission-->
      <a class="nextMissionButton" href="javascript:void(0)">
        <span class="loadedImg" imgSrc="images/win_lose/next_mission_button.png" alt="Next Mission" />
      </a>
    </div>
    <span class="loadedImg" imgSrc="images/win_lose/win_lose_window.png" alt="Score" imgClasses="positioned"></span>
  </div>
</textarea>
