<textarea id='winLose'>
	<!--Win/Lose Screen-->
  <div class="winLose">
    <!--Close-->
    <div class="close">
      <a href="#"><img src="images/win_lose/close_button.png" alt="close" /></a>
    </div>  
  	<!--Win/Lose Title-->
  	<div class="winLoseTitle">
    	<h2>Congratulation!</h2>
   		<h4>You've passed this mission.</h4>
    </div>
    <!--Score-->
    <div class="winLoseScore">
    	<h5>Your Score</h5>
      <span>124413</span>
    </div>
    <!--Stars-->
    <div class="starsWrapper">
    	<span class="star selected">
      	<img src="images/win_losestar_icon.png" alt="Star" />
      </span>
    	<span class="star selected">
      	<img src="images/win_lose/star_icon.png" alt="Star" />
      </span>
    	<span class="star">
      	<img src="images/win_lose/star_icon.png" alt="Star" />
      </span>
    	<img class="positioned" src="images/win_lose/stars_background.png" alt="Stars" />
    </div>
    <!--Challenge friends-->
    <div class="challengeFriends">
			<!--Friend-->
    	<div class="friend">
      	<a href="#">
          <span class="friendsScore">
          	<span>12223</span>
          	<img class="positioned" src="images/win_lose/friendsScore.png" alt="Friends score" />
          </span>
          <!--New changes end here-->
          <img class="friendAvatar" src="images/win_lose/dummy/crowd_member_small.png" alt="Firend avatar" />
          <span class="friendName">Friend</span>
          <img src="images/win_lose/friend_box.png" alt="friend" />
        </a>
      </div>
			<!--Friend-->
    	<div class="friend">
      	<a href="#">
          <span class="friendsScore">
          	<span>12223</span>
          	<img class="positioned" src="images/win_lose/friendsScore.png" alt="Friends score" />
          </span>
          <!--New changes end here-->
          <img class="friendAvatar" src="images/win_lose/dummy/crowd_member_small.png" alt="Firend avatar" />
          <span class="friendName">Friend</span>
          <img src="images/win_lose/friend_box.png" alt="friend" />
        </a>
      </div>
			<!--Friend-->
    	<div class="friend">
      	<a href="#">
          <span class="friendsScore">
          	<span>12223</span>
          	<img class="positioned" src="images/win_lose/friendsScore.png" alt="Friends score" />
          </span>
          <!--New changes end here-->
          <img class="friendAvatar" src="images/win_lose/dummy/crowd_member_small.png" alt="Firend avatar" />
          <span class="friendName">Friend</span>
          <img src="images/win_lose/friend_box.png" alt="friend" />
        </a>
      </div>
      <!--Challenge button-->
      <a class="cancelButton" href="javascript:void(0)">
        <span>Challenge</span>
        <img src="images/win_lose/button_cancel.png" alt="confirm" />
      </a>
    </div>
    <!--Mission icons-->
    <div class="missionIcons">
    	<!--Replay-->
      <a class="replayButton" href="javascript:void(0)">
        <img src="images/win_lose/replay_button.png" alt="Replay" />
      </a>
    	<!--Home-->
      <a class="replayButton" href="javascript:void(0)">
        <img src="images/win_lose/home_button.png" alt="Replay" />
      </a>
    	<!--Next mission-->
      <a class="nextMissionButton" href="javascript:void(0)">
        <img src="images/win_lose/next_mission_button.png" alt="Next Mission" />
      </a>
    </div>
  	<img class="positioned" src="images/win_lose/win_lose_window.png" alt="Win Lose" />
  </div>
</textarea>
