<textarea id="crowdMember-state" >
  <div id="health">
    
  </div>
  <div id="hydration">
    
  </div>
</textarea>

<textarea id='loadingScreen'>
  <div id="intro">
      <img id="loadingbg" src="${Loader.images.loading['background.png'].src}">  
  	  <img id="logo" src="${Loader.images.loading['loading_background.png'].src}"/>
      <div id="loadingBarBackground">
        <img src="${Loader.images.loading['bar_background.png'].src}">
      </div>
		  <div id="loadingBarEmpty">
	  	  <div id="loadingBarLeft"> </div>
	   		<div id="loadingBarFill"> </div>
	    	<div id="loadingBarRight"> </div>
	 		</div>
  </div>
</textarea>

<textarea style="display:none;" id='home'>
  <div class="homeWrapper">
    <ul>
      <li>
        <a class="timelineButton" href="javascript:void(0)">
          <span class="loadedImg lang" imgSrc="timeline/timeline_screen.png" alt="Timeline"></span>        
        </a>
      </li>
      <li>
        <a class="timelineButton" href="javascript:void(0)">
          <span class="loadedImg lang" imgSrc="timeline/rescue_screen.png" alt="Timeline"></span>        
        </a>
      </li>
      <li>
        <a class="timelineButton" href="javascript:void(0)">
          <span class="loadedImg lang" imgSrc="timeline/challenge_screen.png" alt="Timeline"></span>        
        </a>
      </li>
      <li>
        <a class="timelineButton" href="javascript:void(0)">
          <span class="loadedImg lang" imgSrc="timeline/mySquare_screen.png" alt="Timeline"></span>        
        </a>
      </li>
    </ul>

  </div>
</textarea>

<textarea style="display:none;" id='calender'>
	<!--Calendar-->   
  <div class="calendarWrapper">
  	<ul>
    	<li>
      	<a href="javascript:void(0)" class="calendar">
          <span class="loadedImg lang" imgSrc="timeline/calendar_25_jan.png" alt="25 Jan"></span>        
      	</a>
      </li>
    	<li>
      	<a href="javascript:void(0)" class="calendar">
          <span class="loadedImg lang" imgSrc="timeline/calendar_26_jan.png" alt="26 Jan"></span>        
      	</a>
      </li>
    	<li>
      	<a href="javascript:void(0)" class="calendar">
          <span class="loadedImg lang" imgSrc="timeline/calendar_27_jan.png" alt="27 Jan"></span>   
      	</a>
      </li>
    </ul>
  </div>
</textarea>

<textarea style="display:none;" id='missions'>
  <div id="missions">
    <!--Timeline Bar-->
    <div id="missions">
      <!--Timeline Bar-->
      <div class="timelineBar">
      	<!--Missions-->
      	<div class="timelineMissions">
          {if challenge}
            <div class="friendScore" mission="${challenge.data.mission}">
            	<div class="smallImageWrapper">
              	<span class="loadedImg" imgSrc="dummy/facebook_image_large.png" alt="Facebook Image"
                  imgId="${challenge.from.id}" imgStyle="width:33px;"></span>
              </div>
              <h3>${challenge.from.name}</h3>
              <h5>${challenge.data.score}</h5>
              <span class="loadedImg" imgSrc="timeline/challenge_box.png" alt="Friend score" imgClasses="positioned"></span>
            </div>
          {/if}
          
          <ul>
            <!--Finished Missions-->
            <li id="mission01" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 01</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission02" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 02</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission03" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 03</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission04" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 04</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission05" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 05</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission06" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 06</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission07" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 07</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission08" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 08</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission09" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 09</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission10" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 10</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission11" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 11</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission12" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 12</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission13" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 13</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission14" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 14</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission15" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 15</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission16" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 16</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <!--Current Mission-->
            <li id="mission17" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 17</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <!--Upcoming Missions-->
            <li id="mission18" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 18</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission19" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 19</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission20" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 20</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission21" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 21</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission22" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 22</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission23" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 23</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission24" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 24</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission25" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 25</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission26" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 26</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission27" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 27</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission28" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 28</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission29" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 29</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
            <li id="mission30" class="missionMarker"><a href="javascript:void(0)" class="hideText">Mission 30</a><span class="loadedImg" imgSrc="timeline/lock.png" alt="Friend score" imgClasses="positioned"></span></li>
          </ul>

        </div>
      </div>
  	<!--Mission Details-->
  	<div class="missionDetails" style="display:none;">
    </div>
  </div>
</textarea>

<textarea style="display: none" id="missionTitle">
  <div id="missionTitle" class="missionTitle">
    <h3>${title}</h3>
    <div class="stars">
      {if stars['0'] == 0}
      <span class="normal"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {else}
      <span class="active"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {/if}

      {if stars['1'] == 0}
      <span class="normal"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {else}
      <span class="active"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {/if}

      {if stars['2'] == 0}
      <span class="normal"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {else}
      <span class="active"><span class="loadedImg" imgSrc="timeline/stars.png" alt="stars"></span></span>
      {/if}
    </div>
    <img class="positioned" src="images/timeline/missionTitle.png" alt="Mission Title" />
  </div>
</textarea>

<textarea style="display:none;" id='missionDetails'>
  <!--Close-->
  <div class="close">
    <a href="javascript:void(0);"><span class="loadedImg" imgSrc="game_elements/close_button.png" alt="close"></span></a>
  </div>
  <div class="missionWrapper">
  	<div class="missionImages">
        <img src="images/missions_images/mission_${id}.jpg" />
    </div>
    <div class="missionContent">
      <h3>${t('missionDetailsHeader')}</h3>
      {if game.properties.lang == 'en'}
        <p>${mission['details']}</p>
      {else}
        <p>${mission['details_ar'] || '<عربي>'}</p>
      {/if}
    </div>
    <div class="missionSide"> 
      <div class="</a><img src="images/timeline/lock.png" alt="lock" /></li>">
        <img class="newStuffItem" src="images/new_stuff/mission_${id}.png" alt="Water" />
        <img class="positioned" src="images/timeline/newStuff.png" alt="New Stuff" />
      </div>
      {if mission['playable'] == true } 
        <a href="javascript:void(0)" class="playButton" id="${mission.id}">
          <span class="loadedImg lang" imgId="${mission.id}" imgSrc="timeline/play_button.png" alt="Play"></span>
        </a>
      {/if}
    </div>    
  </div>
  <span class="loadedImg lang" imgSrc="timeline/mission_details.png" alt="Mission Details" imgClasses="positioned"></span>
</textarea>

<textarea style="display:none;" id='meterBar'>
	<!--Game Currency Bar-->
	<div class="gameCurrencyBar">
  	<span>${coins}</span>
  	<span class="loadedImg" imgSrc="game_elements/game_currency_bar.png" alt="Game currency bar" imgClasses="positioned"></span>
  </div>
  <!--Experience Bar-->
  <div class="experienceBar">
  	<span>${score}</span>
  	<div class="bar">
    	<!--Value to be changed-->
      <table cellpadding="0" cellspacing="0" width="90%">
        <tr>
          <td style="width:9px;"><span class="loadedImg" imgSrc="game_elements/experience_bar_left.png" alt="Experience bar"></span></td>
          <td style="width:90%;">
            <span class="loadedImg" imgSrc="game_elements/experience_bar_center.png" alt="Experience bar"
                                  imgStyle="width:100%; height:19px;"></span>
          </td>
          <td style="width:9px;"><span class="loadedImg" imgSrc="game_elements/experience_bar_right.png" alt="Experience bar"></span></td>
        </tr>
      </table>
    </div>
  	<span class="loadedImg" imgSrc="game_elements/experience_bar.png" alt="Experience bar" imgClasses="positioned"></span>
  </div>
    
  <!--Energy Bar-->
  <div class="energyBar">
  	<span>${energy}</span>
  	<div class="bar">
    	<!--Value to be changed-->
      <table cellpadding="0" cellspacing="0" width="90%">
        <tr>
          <td style="width:9px;"><span class="loadedImg" imgSrc="game_elements/energy_bar_left.png" alt="Energy bar"></span></td>
          <td style="width:90%;">
            <span class="loadedImg" imgSrc="game_elements/energy_bar_center.png" alt="Energy bar"
                                  imgStyle="width:100%; height:19px;"></span>
          </td>
          <td style="width:9px;"><span class="loadedImg" imgSrc="game_elements/energy_bar_right.png" alt="Energy bar"></span></td>
        </tr>
      </table>
    </div>
  	<span class="loadedImg" imgSrc="game_elements/energy_bar.png" alt="Energy bar" imgClasses="positioned"></span>
  </div>
  <a class="langBtn">
     <span class="loadedImg lang" imgSrc="game_elements/langButton.png" alt="${lang}"></span>
  </a>
</textarea>

<textarea style="display:none;" id='inGameMeterBar'>
  <div class="inGameMeterBar">

    <div class="levelMeter">
      <div class="levelMeterHighlight" style="width:8%;">
        <span class="levelMeterCrowd">
          <span class="loadedImg" imgSrc="game_elements/level_meter_crowd.png" alt=" crowd" imgClasses="positioned"></span>
        </span>
        <span class="loadedImg" imgSrc="game_elements/level_meter_highlighted.png" alt="Level Meter Highlighted"></span>
      </div>
      <strong>Progress</strong>
      <span class="loadedImg" imgSrc="game_elements/level_meter.png" alt="Level Meter" imgClasses="positioned"></span>
    </div>
    
    <!--Timer Bar-->
    <div class="timerBar">
      <div class="timerBarNumbers">
        <span id="timerTxt">00:00:00</span>
      </div>
      <span class="loadedImg" imgSrc="game_elements/timer.png" alt="Tmer Bar" imgClasses="positioned"></span>
    </div>
    <div class="powerbar highlightedItem">
      <!--Power Percentage-->
      <div class="powerPercentage">
        0%
      </div>
      <div class="powerbarFull" style="width:0%;">
        <img src="images/game_elements/power_bar_full.png" alt="Powerbar full" />
      </div>
      <img class="positioned" src="images/game_elements/power_bar.png" alt="Power" />
    </div>
  </div>
</textarea>

<textarea style="display:none;" id="guidingBar">
  <div class="movesWrapper">
    <div class="nextMove">
        <img class="positioned" src="images/game_elements/walk_move.png" alt="Move" />
    </div>
    <div class="movesIndicator">
      <span ><span class="loadedImg" imgSrc="game_elements/right_arrow.png" alt="Right" imgClasses="positioned"></span></span>
      <span ><span class="loadedImg" imgSrc="game_elements/left_arrow.png" alt="Left" imgClasses="positioned"></span></span>
      <span><span class="loadedImg" imgSrc="game_elements/right_arrow.png" alt="Right" imgClasses="positioned"></span></span>
      <span><span class="loadedImg" imgSrc="game_elements/left_arrow.png" alt="Left" imgClasses="positioned"></span></span>
    </div>
  </div>
</textarea>

<textarea style="display:none;" id='friends'>
	<!--Friends Bar-->
  <div class="friendsBar">
  	<!--Game funcations-->
  	<div class="gameFunctions">
    	<!--Crowd menu button-->
    	<a class="crowdMenuItem" href="javascript:void(0);" onclick="gameManager.marketplace.openMarketplace(false);">
        <span class="loadedImg lang" imgSrc="friends/icon_call.png" alt="Menu Item"></span>
      </a>
      <!--Marketplace button-->
      <a class="marketplaceMenuItem" href="javascript:void(0);" onclick="gameManager.marketplace.openMarketplace({myStuff : true});">
        <span class="loadedImg lang" imgSrc="friends/icon_crowds.png" alt="Menu Item"></span>
      </a>
      <!--Rank button-->
      <a class="rankMenuItem" href="javascript:void(0);">
        <span class="loadedImg lang" imgSrc="friends/icon_ranking.png" alt="Menu Item"></span>
      </a>
      <!--Vote button-->
      <a class="voteMenuItem" href="javascript:void(0);" onclick="socialEngine.requestFromNoneAppUsers({title: 'Join my crowd', message: 'Join my crowd'})">
        <span class="loadedImg lang" imgSrc="friends/icon_vote.png" alt="Menu Item"></span>
      </a>
      <a class="homeMenuItem" href="javascript:void(0);" onclick="gameManager.openMainPage();">
        <span class="loadedImg" imgSrc="friends/home_icon.png" alt="Menu Item"></span>
      </a>
    	<span class="loadedImg" imgSrc="friends/functions_background.png" alt="Functions" imgClasses="positioned"></span>
    </div>
      
    <!--Friends-->
    <div class="friendsWrapper">
    	<!--Friend-->
      {for friend in topThree}
    	<div class="friend">
        <a href="${friend['url']}">
        	<span class="loadedImg" imgSrc="friends/${parseInt(friend_index)+1}.png" alt="rank" imgClasses="rankSign"></span>
          <span class="friendsScore">
          	<span>${friend['scores'][scoreManager.gameMode]}</span>
          	<span class="loadedImg" imgSrc="friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
          </span>
          <img class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
          <span class="friendName">${friend['first_name']}</span>
        	<span class="loadedImg" imgSrc="friends/friend_box.png" alt="friend"></span>
        </a>
      </div>
      {/for}

      <!--Left controls-->
      <div id="friends">
        <div class="leftControls">
          <div class="left">
            <span class="loadedImg" imgSrc="game_elements/previous_button.png" alt="Previous"></span>       
          </div>    
          <div class="first">      
            <span class="loadedImg" imgSrc="game_elements/first_button.png" alt="First"></span>      	
          </div>
        </div>
        <!--Friend-->
        <div class="friend">
          <a href="javascript:void(0);" onclick="socialEngine.inviteFriends();">
            <div class="inviteFriend friendAvatar">
              <span class="loadedImg lang" imgSrc="friends/inviteFriends.png" alt="Invite Friend" imgClasses="friendAvatar"></span>
            </div>
            <span class="friendName">${t('inviteFriend')}</span>
            <span class="loadedImg" imgSrc="friends/friend_box.png" alt="friend"></span>
          </a>
        </div>
        <div id="friends-container" class="floatingFriends">
        	<ul id="friends-ul">
            {for friend in list}
          	<li>
              <!--Friend-->
              <div class="friend">
                <a href="${friend['url']}" target="_blank">
                  <span class="friendsScore">
                  	<span>${friend['scores'][scoreManager.gameMode]}</span>
                  	<span class="loadedImg" imgSrc="friends/friendsScore.png" alt="Friends score" imgClasses="positioned"></span>
                  </span>
                  <img class="friendAvatar" src="${friend['picture']}" alt="Firend avatar" />
                  <span class="friendName">${friend['first_name']}</span>
                  <span class="loadedImg" imgSrc="friends/friend_box.png" alt="friend"></span>
                </a>
              </div>
            </li>
            {/for}
          </ul>
        </div>
        <!--Right controls-->
        <div class="rightControls">
          <div class="right">
            <span class="loadedImg" imgSrc="game_elements/next_button.png" alt="Next"></span>
          </div>
          <div class="last">
            <span class="loadedImg" imgSrc="game_elements/last_button.png" alt="Last"></span>
          </div>
        </div>
      </div>
    	<span class="loadedImg" imgSrc="friends/friends_bar.png" alt="friends background" imgClasses="positioned"></span>
    </div>

    <!--Switching tabs-->
    <div class="swithcingTabs">
      <ul>
      	<li {if scoreManager.mode=="global"} class="selected" {/if}>
          <a href="javascript:void(0)"><span class="loadedImg" imgSrc="friends/worldRank.png" alt="World Rank"></span></a>
        </li>
        <li {if scoreManager.mode=="friends"} class="selected" {/if}>
          <a href="javascript:void(0)"><span class="loadedImg" imgSrc="friends/friendsRank.png" alt="Friends Rank"></span></a>
        </li>
      </ul>
    </div>

  </div>
</textarea>

<textarea id='sendChallengePrompt'>
  <div class="sendChallengePrompt">
    <div class="message">
      ${t('surpassFriendScore', [friend.name, friend.scores[scoreManager.gameMode])}
      <br>
      ${t('challengeFriend')}
    </div>
    <div class="sendChallengOk button" id="${friend.service_id}">
      ${t('approve')}
    </div>
    <div class="sendChallengCancel button">    
      ${t('dismiss')}
    </div>
  </div>
</textarea>
<textarea  id='scorePassedAlert'>
  <div class="scorePassedAlert">
    <div class="message">
      ${t('friendSurpassedPlayerScore', [friend.name, friend.scores[scoreManager.gameMode])}
    </div>
    <div class="scorePassedCancel button">    
      ${t('ok')}
    </div>
  </div>
</textarea>



<textarea id='scoreTabs'>
  <div id="scoringModes">
  {for mode in scoreManager.modes}
    <div id="${mode_index}" {if mode_index == scoreManager.mode}
                              class="scoreTab selected"
                            {else}
                              class="scoreTab"     
                            {/if} >
      ${mode_index.capitalize()} Score
    </div>
  {/for}
  </div>
</textarea>

<textarea style="display:none;" id='topScorersddd'>
  <div id="gameModes">
    {for mode in scoreManager.gameModes}
        <span id="${mode}" {if mode == scoreManager.gameMode}
                            class="gameModeTab selected"  
                          {else}  
                            class="gameModeTab"
                          {/if} > 
          ${mode} 
        </span>                      
    {/for}
  </div>
</textarea>



<textarea id="send_requests">
  <button id="request_help_button">${t('request_help_button')}</button>
  <button id="request_gift_button">${t('request_gift_button')}</button>
  <button id="request_challenge_button">${t('request_challenge_button')}</button>
</textarea>

<textarea id="inbox">
  <br/>
  <h3>${t('inbox_header')}</h3>
  <div id="help">
    <b>${t('help_requests')}</b><br>
    {for request in inbox.requests.help}
      <span>${t('inbox_message', request.from.name, request.message)}</span>
      <button>${t('approve')}</button><br>
    {/for}
    <br>
  </div>
  <div id="gift">
    <b>${t('gift_requests')}</b><br>
    {for request in inbox.requests.gift}
      <span>${t('inbox_message', request.from.name, request.message)}</span>
      <button>${t('approve')}</button><br>
    {/for}
    <br>
  </div>
  <div id="challenge"><br>
    <b>${t('challenge_requests')}</b><br>
    {for request in inbox.requests.challenge}
      <span>${t('inbox_message', request.from.name, request.message)}</span>
      <button>${t('approve')}</button><br>
    {/for}
    <br>
  </div>
</textarea>
