/*--------Win Lose Screen-----------*/
.winLose { position:relative; top:-192px; width:643px; height:411px; z-index:11; margin:0 auto; }
.winLose .close { z-index:6; left:615px; }

.winLoseTitle { position:absolute; width:300px;  top:10px; left:30px; z-index:6; color:#fff; }
.winLoseTitle h2 { font-weight:bold; font-size:2.5em; margin:10px 0 0 0; padding:0px; }
.winLoseTitle h4 { font-weight:bold; font-size:1.4em; margin:10px 0 0 0; padding:0px; }


.winLoseScore { position:absolute; width:300px; top:20px; right:20px; z-index:6; }
.winLoseScore h5 { float:left; width:30%; margin:20px 5% 0 0; font-weight:bold; font-size:1.2em; color:#011e2b;  }
.winLoseScore h5.losing { color:#410707; }
.winLoseScore span { float:left; width:40%; padding:5% 10%; font-size:2em; font-weight:bold; color:#f6d000;  text-align:center; position:absolute; z-index:3; }

.winLoseScore img { z-index:2; left:102px; }

.starsWrapper { position:absolute; width:256px; height:75px; z-index:6; padding:0 0 0 20px; top:100px; left:302px; }
.star { float:left; width:56px; height:54px; z-index:7; overflow:hidden; margin:10px; position:relative;}
.star.selected img { position:absolute; top:-54px; }

.challengeFriends { position:absolute; top:190px; left:250px; }

.challengeFriends .cancelButton { left:-6px; top:0px; }

.challengeFriends .friend { margin:0 20px; }

.missionIcons { position:absolute; top:330px; left:332px; z-index:7; }
.missionIcons.losing { left:372px; }
.missionIcons a { float:left; width:60px; height:60px; overflow:hidden; margin:0 0 0 10px; position:relative; }
.missionIcons a:hover img { position:absolute; top:-60px; }


.objectives { position:absolute; z-index:6; color:#f6d000; top:155px; left:50px; font-size:1.5em; font-weight:bold; }
.objectives strong { font-size:6.4em; width:100%; display:block; }
.objectives strong small { font-size:.3em; }



