

.weatherBar { position:absolute; width:35px; height:35px; top:18px; right:150px; overflow:hidden; }
.weatherBar span.cloudy img{ position:absolute; top:-34px; }
.weatherBar span.sunny img{position:absolute; top:-68px;}
.ar .weatherBar span.night img{position:absolute; top:0px;}

@charset "utf-8";
/* CSS Document */
body { margin:0px; padding:0px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; width:100%;}
ul { list-style:none; margin:0px; padding:0px; }
a { outline:none; }
img { border:none; outline:none;}
.hideText{text-indent:-10000px; line-height:0px; text-decoration:none; font-size:0px; overflow:hidden; display:block; color:#ffffff;}

.uiContainer { width:970px; height:620px; position:relative; top:0px; margin:0 auto; overflow:hidden; }
.uiContainer .background { height:620px; position:absolute; left:0; top:0; width:970px; z-index: -1}
.ar .positioned { position:absolute; top:0px; right:0px; z-index:1; }

#gameContainer { position:absolute; top:0px; z-index:10; width:970px; height:615px; margin:0 auto; overflow:hidden; }

.close { float:left; width:39px; height:39px; position:relative; left:436px; top:-15px; overflow:hidden }
.close a { display:block; width:39px; height:39px; }
.close a:hover img { position:absolute; top:-39px; }

.confirmButton { width:97px; height:30px; overflow:hidden; position:relative;z-index:6; display:block; font-weight:bold; font-size:1.2em; color:#304c00; text-shadow:1px 1px 0 #ccf08e; text-decoration:none; }
.confirmButton span { position:absolute; z-index:7; width:97px; height:31px; text-align:center; padding:5px 0 0 0; }
.confirmButton:hover img { position:absolute; top:-30px; }


.cancelButton { width:97px; height:31px; overflow:hidden; position:relative; z-index:6; display:block; font-weight:bold; font-size:1.2em; color:#802323; text-shadow:1px 1px 0 #f5cfcf; text-decoration:none; }
.cancelButton span { position:absolute; z-index:7; width:97px; height:31px; text-align:center; padding:5px 0 0 0; }
.cancelButton:hover img { position:absolute; top:-31px; }

.ar .overlay { float:right; width:970px; background:#000; height:620px; background:url(../images/common/overylay_background.png); right:-5px; top:90px; position:relative; }
.ar .container { width:950px; height:685px; margin:0 auto; position:relative; }

.message { position:absolute; top:285px; left:300px; z-index:30; }
.message span { z-index:31; position:relative; font-weight:bold; font-family:"Comic Sans MS", cursive; font-size:1.3em; width:210px; margin:15px; line-height:1.2em; height:70px; display:block; width:238px; }

.topScope { position:absolute; top:-80px; left:9px; background:#000; height:80px; width:950px; z-index:1000; }
.bottomScope { position:absolute; top:615px; left:9px; background:#000; height:80px; width:950px; z-index:1000; }

.contuineReading { position:absolute; top:460px; left:240px; z-index:99; }


.loading { position:absolute; top:240px; height:100px; width:100px; left:415px; text-align:center; z-index:300; }

/*--------Home Screen-----------*/

.homeWrapper { position:relative;  top:130px;  text-align: center}
.homeWrapper ul { width:93%; margin:0px auto; padding:0px}
.homeWrapper ul li { float:left; width:218px; padding:0px; height:144px; }
.homeWrapper ul li + li { margin:0 0 0 10px; }
.homeWrapper ul li a { float:left; width:218px; height:144px; overflow:hidden; left: 255px; top: -15px; }
.homeWrapper ul li a:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #F00; -moz-box-shadow: 0px 0px 24px #F00; box-shadow: 0px 0px 20px #F00; }
.homeWrapper ul li a:hover img { position:relative; top:-144px;  }
.homeWrapper ul li a.active:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #f85d00; -moz-box-shadow: 0px 0px 24px #f85d00; box-shadow: 0px 0px 20px #f85d00; }

.homeWrapper .walkingCrowdMemeber { top:220px; }

/*--------Calender Screen-----------*/
.calendarWrapper { position:relative;  top:55px;  }
.calendarWrapper ul { width:59%; margin:0px auto; padding:0px; position:relative;}
.calendarWrapper ul li { float:left; width:178px; margin:0 10px 0 0; padding:0px; height:224px; }
.calendarWrapper ul li a { float:left; width:178px; height:224px; overflow:hidden; position:relative; }
.calendarWrapper ul li a:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #F00; -moz-box-shadow: 0px 0px 24px #F00; box-shadow: 0px 0px 20px #F00; }
.calendarWrapper ul li a:hover img { position:relative; top:-224px;  }
.calendarWrapper ul li a.active:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #f85d00; -moz-box-shadow: 0px 0px 24px #f85d00; box-shadow: 0px 0px 20px #f85d00; }

/*--------Timeline Screen-----------*/
.ar .missionDetails { position:relative; top:10px; right:122px; float:none; width:730px; height:316px; z-index:6; }
.ar .missionDetails .close { left:-20px; top:30px; z-index:8; }

.ar .missionWrapper { float:right; width:690px; margin:-19px 20px 20px 20px;  position:relative; z-index:7; }
.ar .missionImages { float:right; width:200px; margin:45px 10px 0 0; }
.ar .missionImages img { float:right; width:190px; margin:0 5px 5px 0; position:relative; z-index:10;}
.ar .missionNumber { position:relative; top:170px; left:35px; color:#604f00; text-shadow:1px 1px 0 #d3b632; font-weight:bold; font-size:2.2em; z-index:12; }
.ar .missionTime { position:relative; top:169px; left:50px; color:#604f00; text-shadow:1px 1px 0 #d3b632; font-weight:bold; font-size:1.6em; z-index:12; }

.ar .missionContent { float:right; width:315px; margin:30px 0 0 0;text-align:right; }
.ar .missionContent h3 { width:100%; font-weight:bold; font-size:2em; margin:5px 0 0 0;  }
.ar .missionContent p { margin:5px 0 0 0; font-size:1.2em; }
.ar .missionContent ul { list-style:square;  font-size:1.2em; margin:5px 0 0 0; }
.ar .missionContent ul li { margin:0 20px 5px 0; }

.ar .playButton { float:left; width:142px; height:60px; overflow:hidden; position:absolute; top:275px; left:5px;}
.ar .playButton:hover img { position:relative; top:-60px;  }

.ar .nextButton { float:left; width:142px; height:60px; overflow:hidden; position:absolute; top:204px; left:5px;}
.ar .nextButton:hover img { position:relative; top:-60px;  }


.ar .timelineMissions ul { float:right; width:960px; position:relative; z-index:5;  }
.ar .timelineMissions li { position:absolute;  }

.ar .timelineMissions li#mission01 {  top:67px; right:81px; }
.ar .timelineMissions li#mission02 {  top:117px; right:85px; }
.ar .timelineMissions li#mission03 {  top:167px; right:88px; }
.ar .timelineMissions li#mission04 {  top:217px; right:93px; }
.ar .timelineMissions li#mission05 {  top:267px; right:110px; }
.ar .timelineMissions li#mission06 {  top:309px; right:126px; }
.ar .timelineMissions li#mission07 {  top:297px; right:173px; }
.ar .timelineMissions li#mission08 {  top:288px; right:226px; }
.ar .timelineMissions li#mission09 {  top:280px; right:284px; }
.ar .timelineMissions li#mission10 {  top:274px; right:334px; }
.ar .timelineMissions li#mission11 {  top:268px; right:386px; }
.ar .timelineMissions li#mission12 {  top:262px; right:444px; }
.ar .timelineMissions li#mission13 {  top:254px; right:496px; }
.ar .timelineMissions li#mission14 {  top:249px; right:546px; }
.ar .timelineMissions li#mission15 {  top:243px; right:600px; }
.ar .timelineMissions li#mission16 {  top:235px; right:649px; }
.ar .timelineMissions li#mission17 {  top:214px; right:695px; }
.ar .timelineMissions li#mission18 {  top:167px; right:726px; }
.ar .timelineMissions li#mission19 {  top:114px; right:734px; }
.ar .timelineMissions li#mission20 {  top:64px; right:743px; }
.ar .timelineMissions li#mission21 {  top:108px; right:776px; }
.ar .timelineMissions li#mission22 {  top:143px; right:817px; }
.ar .timelineMissions li#mission23 {  top:169px; right:869px; }
.ar .timelineMissions li#mission24 {  top:207px; right:903px; }
.ar .timelineMissions li#mission25 {  top:258px; right:901px; }
.ar .timelineMissions li#mission26 {  top:302px; right:864px; }
.ar .timelineMissions li#mission27 {  top:312px; right:816px; }
.ar .timelineMissions li#mission28 {  top:290px; right:763px; }
.ar .timelineMissions li#mission29 {  top:252px; right:733px; }
.ar .timelineMissions li#mission30 {  top:214px; right:801px;  }
.ar .timelineMissions li#mission30 img  {  top:20px; right:23px;  }
.ar .timelineMissions li#mission30 a { width:50px; height:50px; }

.missionTitle { position:absolute; z-index:100; top:100px; left:523px; width:141px; height:89px; }
.missionTitle h3 { position:relative; z-index:101; width:121px; margin:0; text-align:center; text-shadow:1px 1px 0 #3b994a; padding:10px 10px 1px 10px; font-size:1.1em; }
.stars { position:relative; width:141px; margin:0 0 0 34px; z-index:102; }
.stars span { float:left; width:20px; height:20px; overflow:hidden; position:relative; margin:0 0 0 5px;  }
.stars span img { position:absolute; right:0; }
.stars span.active img { right:-20px }

.missionTitle h4 { position:relative; z-index:101; width:121px; margin:3px 10px 0px 10px; text-align:center; float:left; font-weight:bold; font-size:1em; color:#cc893a; }




.timelineMissions li a { float:left; width:15px; height:15px; background:#0ba225; -webkit-border-radius: 1000px; -moz-border-radius: 1000px; border-radius: 1000px; border:3px solid #065513; cursor:pointer;  }

.timelineMissions li a.current { background:#ff0000; -webkit-box-shadow: 0px 0px 10px #ff0000; -moz-box-shadow: 0px 0px 10px #ff0000; box-shadow: 0px 0px 10px #ff0000; border-color:#ff0000; }
.timelineMissions li a.disabled { background:#696969; border-color:#b3b3b3; position:relative; }
.timelineMissions li img { position:absolute; top:3px; left:6px; }


.ar .missionSide { float:right; width:162px; position:relative; margin:40px 0 0 0; }
.ar .newStuff { float:right; width:162px; height:147px; }
.ar .newStuffItem { position:relative; z-index:12; height:97px; width:131px; float:left; margin:40px 0 0 16px; }


.walkingCrowdMemeber { position:absolute; top:415px; width:960px; height: 55px}

.timelineMissions .rightControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; right:0px; overflow:hidden; height:72px; margin:0px 0px 0px -1%;}
.timelineMissions .leftControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; left:35px; overflow:hidden; height:72px;}
.timelineMissions .leftControls .left, .timelineMissions .rightControls .right{height:33px; overflow:hidden; position:relative; margin:0 0 5px 0;}
.timelineMissions .leftControls .first, .timelineMissions .rightControls .last{height:33px; overflow:hidden; position:relative; margin:0 0 5px 0;}

.timelineMissions .rightControls img.rightOff, .timelineMissions .leftControls img.leftOff { position:absolute; top:0px; margin:0 0 5px 0; }
.timelineMissions .rightControls img.rightOn, .timelineMissions .leftControls img.leftOn { position:absolute; top:-33px; margin:0 0 5px 0; }

.friendScore { position:absolute; width:119px; height:35px; left:533px; top:66px; }
.smallImageWrapper { position:relative; float:left; width:26px; height:26px; z-index:8; border:1px solid #887103; margin:4px 0 0 4px; }
.smallImageWrapper img { width:26px; height:26px; }
.friendScore h3 { color:#000000; text-shadow:1px 1px 0 #b62e2e; position:relative; z-index:9; float:left; width:80px; margin:5px 0 0 1px; padding:0; font-size:.8em; text-align:center }

.friendScore h5 { color:#cc893a; position:relative; z-index:9; float:left; width:80px; margin:2px 0 0 1px; padding:0; font-size:.8em; text-align:center }

.calendarWrapper .walkingCrowdMemeber { top:330px; }

.choseLanguage {  }

.choseLanguage { position:relative;  top:155px;  }
.choseLanguage ul { width:20%; margin:0px auto; padding:0px; position:relative;}
.choseLanguage ul li { float:left; width:218px; margin:10px 10px 0 0; padding:0px; height:64px; }
.choseLanguage ul li a { float:left; width:218px; height:64px; overflow:hidden; position:relative; }
.choseLanguage ul li a:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #F00; -moz-box-shadow: 0px 0px 24px #F00; box-shadow: 0px 0px 20px #F00; }
.choseLanguage ul li a:hover img { position:relative; top:-64px;  }
.choseLanguage ul li a.active:hover { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0px 0px 24px #f85d00; -moz-box-shadow: 0px 0px 24px #f85d00; box-shadow: 0px 0px 20px #f85d00; }

*{ -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; -ms-user-select: none; user-select: none; }
body{ overflow:hidden; padding : 0px; margin : 0px; }

.smallBlackOutline { text-shadow : -1px -1px black, 1px 1px black, 0px -1px black, 0px 1px black, -1px 0px black, 1px 0px black; }

.mediumBlackOutline { text-shadow : -2px -2px black, 2px 2px black, 0px -2px black, 0px 2px black, -2px 0px black, 2px 0px black; }

.largeBlackOutline { text-shadow : -3px -3px black, 3px 3px black, 0px -3px black, 0px 3px black, -3px 0px black, 3px 0px black; }


#container{ height: 600px; left: 9px; overflow: hidden; position: absolute; top: 9px; width: 950px; }
#homeContainer{ }

.skyline{ position: absolute }
#gameCanvas{ height: 600px; left: 9px; overflow: hidden; position: absolute; top: 9px; width: 950px; }
.bubbleText{ font-weight:normal; display: block; width: 100px; }
.DomSprite{ position : absolute; overflow : hidden; font-family:verdana; font-size:12px; color : black;	 font-weight:bold; }
.flippedSprite{ -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
.energyEmpty, .energyFull{ -moz-border-radius : 8px; -webkit-border-radius : 8px; -o-border-radius : 8px; border-radius : 8px; }
.energyEmpty{	background-color:black; }
.energyFull{ background-color:green; }

#modalWindowMsg{ background-color: black; border-radius: 20px 20px 20px 20px; height: 300px; left: 180px; opacity: 0.8; position: absolute; top: 60px; width: 400px; z-index: 1000; }
#modalWindowMsg #continueButton{ color: white; position: absolute; top: 257px; left: 295px; background-color: brown; width: 78px; text-align: center; opacity: 1; border-radius: 5px; cursor:pointer; }
#modalWindowMsg #contents{ color : white; padding: 25px; }


/* loading bar styling */
#inProgress #loadingbg, #gameInProgress #loadingbg{ left: 0; position: absolute; top: 0; }
#inProgress #loadingBarBackground, #gameInProgress #loadingBarBackground{ left: 177px; position: absolute; top: 366px; }

#inProgress #logo, #gameInProgress #logo{ left: 125px; position: absolute; top: 159px; }
#loadingBarEmpty{ height: 50px; left: 178px; position: absolute; top: 364px; width: 283px; }

#loadingBarEmpty div{ height : 34px; float : left; margin-top:8px; }

#loadingBarEmpty #loadingBarRight{ height:34px; width:16px; background:url("../images/loading/loadingbar_right.png"); }

#loadingBarEmpty #loadingBarFill{ height:34px; background-repeat:repeat-x; background:url("../images/loading/loadingbar_middle.png"); }

#loadingBarEmpty #loadingBarLeft{ background:url("../images/loading/loadingbar_left.png"); height:34px; margin-left:5px; width:16px; }

#inProgress, #gameInProgress{ width : 760px; height:550px; top:-55px; }

#intro { position : absolute; top : 50px; left : 40px; }
#beatFlash{ background-color: #FFFFFF; height: 599px; position: absolute; width: 949px; border: solid 10px black; }
#fps{ left: 970px; position: absolute; top: 0; }
#world{ position: absolute; top: 9px; left: 9px; width: 950px; height: 340px; z-index: 1000; background-color: #38CDFF; opacity: 0.4; } 
.greenMeter{ background:url('../images/game_elements/health_meter.png'); }
.redMeter{ background:url('../images/game_elements/health_meter_empty.png'); }
.whiteMeter{ background:url('../images/game_elements/hydration_meter.png'); }
.blueMeter{ background:url('../images/game_elements/hydration_meter_empty.png'); }
.meter .meterFull{ top : 0px; left : 0px; overflow: hidden; position: absolute; z-index: 0;}
.meter .meterEmpty{  top : 0px;  left : 0px;  position: absolute;}
#initCounter{ color: #FFD800; font-family: Georgia; font-size: 128px; font-weight: bold; height: 187px; left: 0; position: absolute; text-align: center; top: 123px; width: 100%; z-index: 100;}

#scores { bottom: 10px; height: 180px; margin: 0 auto; padding: 0 5px; position: absolute; width:99%; }
#scoresInProgress{ background:none; bottom: 0; height: 180px; margin: 0 auto; position: absolute; width: 100%; opacity : 0.6; z-index : 5; cursor : progress;}
/*--------Friends Bar-----------*/
.friendsBar { margin:0 auto; width:951px; position:relative; z-index:3; }

.gameFunctions { float:right; width:172px; height:181px; position:relative; z-index:5; }
.gameFunctionsBackground { position:absolute; }

.crowdMenuItem { position:absolute; top:21px; left:2px; z-index:3; width:61px; height:47px; overflow:hidden; }
.crowdMenuItem:hover img { position:absolute; top:-47px; }

.marketplaceMenuItem { position:absolute; top:9px; left:69px; z-index:3; width:61px; height:47px; overflow:hidden; }
.marketplaceMenuItem:hover img { position:absolute; top:-47px; }

.rankMenuItem { position:absolute; top:64px; left:109px; z-index:3; width:61px; height:47px; overflow:hidden; }
.rankMenuItem:hover img { position:absolute; top:-47px; }

.voteMenuItem { position:absolute; top:125px; left:82px; z-index:3; width:61px; height:47px; overflow:hidden; }
.voteMenuItem:hover img { position:absolute; top:-47px; }

.inboxMenuItem { position:absolute; top:131px; left:13px; z-index:3; width:61px; height:47px; overflow:hidden; }
.inboxMenuItem:hover img { position:absolute; top:-47px; }

.homeMenuItem { position:absolute; top:59px; left:40px; z-index:2; width:70px; height:71px; overflow:hidden; }
.homeMenuItem:hover img { position:absolute; top:-71px; }

.friendsWrapper { float:right; width:740px; position:relative; top:61px; padding:4px 0 0 10px; height:108px; }
.friend { display:inline-block; width:85px; position:relative; z-index:2; margin:5px 2px 0 2px; }
.friend a { font-weight:bold; color:#000; text-decoration:none; }
.friendAvatar { position:absolute; top:12px; left:12px; width:60px;}
.friendName { position:absolute; top:75px; left:5px; width:75px; text-align:center; display:inline-block;  text-shadow:1px 1px 0 #ffce57; overflow:hidden; height:15px; }
.rankSign { position:absolute; width:25px; height:26px; top:70px; left:-4px; z-index: 10;}

.friendsWrapper .rightControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; right:0px; overflow:hidden; height:72px;}
.friendsWrapper .leftControls { display:inline-block; float:none; position:relative; top:20px; vertical-align:top; z-index:2; left:0px; overflow:hidden; height:72px;}
.friendsWrapper .leftControls .left, .friendsWrapper .rightControls .right{height:33px; overflow:hidden; position:relative;}
.friendsWrapper .leftControls .first, .friendsWrapper .rightControls .last{height:33px; overflow:hidden; position:relative;}

.friendsWrapper .rightControls img.rightOff, .friendsWrapper .leftControls img.leftOff { position:absolute; top:0px; }
.friendsWrapper .rightControls img.rightOn, .friendsWrapper .leftControls img.leftOn { position:absolute; top:-33px; }

.floatingFriends { display:inline-block; width:462px; overflow:hidden; position:relative; top:3px; }
.floatingFriends ul { width:1200px; }
.floatingFriends li { display:inline-block; }

#friends { float:right; width:645px; }

.swithcingTabs { float:right; width:29px; position:relative; top:69px; z-index:3;}
.swithcingTabs ul li { position:relative; width:29px; height:36px; overflow:hidden; margin:0 0 2px 0;  }
.swithcingTabs ul li img { position:absolute; top:-36px;  }
.swithcingTabs ul li.selected img, .swithcingTabs ul li:hover img { position:absolute; top:0px;  }

.friendsScore { position:absolute; width:59px; height:32px; z-index:3; left:10px; top:-4px; }
.friendsScore span { position:relative; z-index:2; width:59px; height:17px; display:block; padding:3px 2px 2px 2px; text-align:center; text-shadow:1px 1px 0 #fffaae; color:#763d00; }

.inviteFriend { overflow:hidden; height:60px; left:0px; width:70px; height:60px; top:0px;}


#scores .notification { height: 25px; left: 75px; opacity: 0.9; position: relative; top: -150px; width: 25px; z-index: 10; -moz-border-radius : 10px; -webkit-border-radius : 10px; -o-border-radius : 10px; border-radius : 10px; cursor : pointer;
}
#scores .redNotification { background : red; }
#scores .greenNotification { background : green; }

#interaction{ position : absolute; top : 0px; left : 0px; width : 760px; height : 500px; }
#interaction .sendChallengePrompt, #interaction .scorePassedAlert { background: none repeat scroll 0 0 gray; border-radius: 20px 20px 20px 20px; height: 200px; left: 100px; opacity: 0.9; position: absolute; top: 100px; width: 560px; z-index : 1000; }
#interaction .button { background: none repeat scroll 0 0 yellow; cursor: pointer; height: 30px; width: 100px; -moz-border-radius : 10px; -webkit-border-radius : 10px; -o-border-radius : 10px; border-radius : 10px; position: absolute; top: 130px; text-align : center; }
#interaction .sendChallengOk { left: 300px; }
#interaction .sendChallengCancel, #interaction .scorePassedCancel { left : 420px; }
#interaction .message { position  : absolute; top : 40px; margin : 0px 20px; font-weight : bold; }

/*-------Widnow-------*/
.ar .window { float:right; width:715px; background:url(../images/marketplace/window_background.png) no-repeat top; margin:46px 19px 0 27px; position:relative; height:401px; z-index:10; }
.ar .windowTitle { float:right; width:254px; height:44px; position:relative; top:-43px; right:5px; }
.ar .close {width:39px; height:39px; position:relative; left:10px; top:-15px; overflow:hidden; z-index:3; }
.ar .close a { display:block; width:39px; height:39px; }
.ar .close a:hover img { position:absolute; top:-39px; }

.notifications .windowTitle { top:-40px; }
.notifications .close { top:-18px; left:444px; }

.notificationWrapper { float:left; width:100%; height:379px; overflow:hidden; position:relative; top:-30px; }

.notificationItem { float:left; width:692px; height:130px; position:relative; z-index:8; margin:0 0 4px 10px; }
.notificationImage  { float:left; width:16%; position:relative; z-index:9; margin:20px 0 0 20px; }

.notificationContent { float:left; width:60%; position:relative; z-index:9; margin:20px 0 0 0; }
.notificationContent h3 { margin:0px; color:#000; font-weight:bold; font-size:1.4em; }
.notificationContent h3 a { color:#000; text-decoration:none; }
.notificationContent h5 { margin:0px; color:#606060; font-weight:normal; font-size:1.2em; margin:10px 0 0 0; }


.notificationActions { float:left; width:16%; position:relative; z-index:9; margin:20px 0 0 20px; }
.notificationActions a { float:right; margin:0 0 5px 0; }


.promotions .close { top:-18px; left:690px; }

.promotionsWrapper { float:left; width:100%; height:379px; overflow:hidden; position:relative; top:-28px; z-index:2; left:10px; }

/*--------Win Lose Screen-----------*/
.winLose { position:relative; top:-192px; width:743px; height:501px; z-index:11; margin:0 auto; }
.winLose .close { z-index:6; left:715px; }

.winLoseTitle { position:absolute; width:300px;  top:10px; left:30px; z-index:6; color:#fff; }
.winLoseTitle h2 { font-weight:bold; font-size:2.5em; margin:10px 0 0 0; padding:0px; }
.winLoseTitle h4 { font-weight:bold; font-size:1.4em; margin:10px 0 0 0; padding:0px; }


.winLoseScore { position:absolute; width:300px; top:105px; right:40px; z-index:6; }
.winLoseScore h5 { float:left; width:30%; margin:20px 2% 0 0; font-weight:bold; font-size:1.2em; color:#011e2b;  }
.winLoseScore h5.losing { color:#410707; }
.winLoseScore span { float:left; width:40%; padding:1% 10%; font-size:3em; font-weight:bold; color:#000;  text-align:center; position:absolute; z-index:3; text-shadow:1px 1px 0 #ffb535; font-family:Arial, Helvetica, sans-serif;}

.winLoseScore img { z-index:2; left:95px; }

.starsWrapper { position:absolute; width:256px; height:75px; z-index:6; padding:0 0 0 20px; top:15px; right:55px; }
.star { float:left; width:56px; height:56px; z-index:7; overflow:hidden; margin:10px; position:relative;}
.star.selected img { position:absolute; top:-54px; }

.challengeFriends { position:absolute; top:180px; right:20px; border:3px solid #0b3549; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; float:left; z-index:3; padding:20px 10px 15px 10px;	  }

.challengeFriends .cancelButton { left:-6px; top:0px; }

.challengeFriends .friend { margin:0 10px; }

.bigButton { width:211px; height:33px; overflow:hidden; position:relative; z-index:6; display:block; font-weight:bold; font-size:1.2em; color:#000; text-shadow:1px 1px 0 #f5cfcf; text-decoration:none; margin:15px 0 0 60px; }
.bigButton span { position:absolute; z-index:7; width:211px; height:26px; text-align:center; padding:7px 0 0 0; }
.bigButton:hover img { position:absolute; top:-33px; }

.missionIcons { position:absolute; top:415px; left:442px; z-index:7; }
.missionIcons.losing { left:372px; }
.missionIcons a { float:left; width:60px; height:60px; overflow:hidden; margin:0 0 0 10px; position:relative; }
.missionIcons a:hover img { position:absolute; top:-60px; }


.objectives { position:absolute; z-index:6; color:#042e42; top:180px; text-shadow:1px 1px 0 #367c9e; left:12px; font-size:1.5em; font-weight:bold; }
.objectives ul { padding:0 0 0 25px; }
.objectives li { background:#246788; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0 0 5px 0; padding:5px 20px; height:26px; overflow:hidden;  }

.objectives li img { float:left; margin:-6px 5px 0 0; }
.objectives li.notCompleted img { margin:-45px 5px 0 0; }
.objectivesBg { position:absolute; z-index:14; top:32px; left:0; }

.timeWrapper { position:absolute; top:107px; left:30px; z-index:12; width:350px; }
.timeWrapper h5 { float:left; width:20%; margin:20px 2% 0 0; font-weight:bold; font-size:1.2em; color:#011e2b; position:relative; z-index:14;  }
.timeWrapper img { left:80px; }
.yourTime { position:relative; z-index:14; font-weight:bold; font-size:3em; width:130px; text-align:center; float:left; padding:1% 0 0 0;  text-shadow: 1px 1px 0 #FFB535; font-family:Arial, Helvetica, sans-serif; }
.bestTime { position:relative; z-index:14; top:22px; margin:0 0 0 8px; color:#033c04; text-shadow:1px 1px 0 #36d43a; }

.newPowerups { position:absolute; top:390px; left:80px; z-index:12; }
.newPowerups li { float:left; background:#000; border:2px solid #6a6a6a; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; margin:0 10px 0 0;   }
.newPowerups strong { color:#FFF; margin:0 0 5px 0; display:block; font-size:1.2em; }
/*--------In Game meters-----------*/
.inGameMeterBar { width:950px; height:50px; position: absolute} 
.inGameMeterBar .energyBar {position:absolute; width:169px; height:32px; top:0px; right:350px;}
.inGameMeterBar .energyBar .bar { position:absolute; width:140px; height:20px; z-index:4; left:3px; top:21px; }
.inGameMeterBar .energyBar span {position:absolute; width:140px; height:20px; z-index:5; left:3px; top:21px; font-weight:bold; font-size:1.2em; color:#512d09; text-shadow:1px 1px 0 #fffce0; text-align:center; }

.inGameMeterBar .energyBar .positioned { top:14px; }

.inGameMeterBar .timerBar { position:absolute; width:133px; height:39px; top:10px; right:10px; }
.inGameMeterBar .timerBarNumbers { position:absolute; z-index:3; width:74px; height:19px; font-weight:bold; font-size:1.2em; text-shadow:1px 1px 0 #ca0000; left:4px; top:11px; color:#270000; padding:0 0 0 10px; }
.inGameMeterBar .timerBarNumbers span { float:left; width:auto; }

#meterBar { width:100%; height:50px; }
/*--------Game meters-----------*/

.gameCurrencyBar { position:absolute; width:133px; height:32px; top:20px; left:10px; }
.gameCurrencyBar span { position:absolute; z-index:3; width:84px; height:19px; font-weight:bold; font-size:1.2em; text-shadow:1px 1px 0 #d0e0aa; left:40px; top:6px; color:#2c4600; }

.facebookCurrencyBar { position:absolute; width:127px; height:32px; top:20px; left:156px; }
.facebookCurrencyBar span { position:absolute; z-index:3; width:84px; height:19px; font-weight:bold; font-size:1.2em; text-shadow:1px 1px 0 #a6afd7; left:40px; top:6px; color:#30385b; }
.facebookCurrencyBar a { position:absolute; right:3px; top:4px; height:22px; width:42px; overflow:hidden; }
.facebookCurrencyBar a img { position:absolute; z-index:4; }
.facebookCurrencyBar a:hover img { top:-22px; }

.experienceBar {position:absolute; width:178px; height:32px; top:17px; left:386px;}
.experienceBar .bar { position:absolute; width:140px; height:20px; z-index:4; left:3px; top:9px; }
.experienceBar span {position:absolute; width:140px; height:20px; z-index:5; left:3px; top:9px; font-weight:bold; font-size:1.2em; color:#05233a; text-shadow:1px 1px 0 #73a2c7; text-align:center; }
.experienceBar .positioned { top:-2px; }
.experienceBar strong { position:absolute; width:37px; height:20px; z-index:5; right:0; font-weight:bold; font-size:1.2em; color:#052138; text-shadow:1px 1px 0 #73a2c7; text-align:center; top:7px; }

.energyBar {position:absolute; width:169px; height:32px; top:5px; right:60px;}
.energyBar .bar { position:absolute; width:140px; height:20px; z-index:4; left:3px; top:21px; }
.energyBar span {position:absolute; width:140px; height:20px; z-index:5; left:3px; top:21px; font-weight:bold; font-size:1.2em; color:#512d09; text-shadow:1px 1px 0 #fffce0; text-align:center; }

.energyBar .positioned { top:14px; }

.timerBar { position:absolute; width:127px; height:39px; top:12px; right:10px; overflow:hidden; }
.timerBar img { position:absolute; top:-39px; }
.timerBar.remaining .timerBarNumbers { text-shadow:1px 1px 0 #ff6161; }
.timerBar .timerBarNumbers { text-shadow:1px 1px 0 #fdff76;   }
.timerBar.remaining img { position:absolute; top:0px; }
.timerBarNumbers { position:absolute; z-index:3; width:74px; height:19px; font-weight:bold; font-size:1.2em; left:4px; top:12px; color:#270000; padding:0 0 0 10px; }
.timerBarNumbers span { float:left; width:auto; }


.player { position:relative; z-index:7; top:200px; left:400px; }
.hydrationMeter { position:absolute; top:-22px; left:60px; width:27px; height:28px; z-index:7; }
.hydrationMeter span { position:absolute; z-index:8; font-weight:bold; color:#FFF; font-size:.6em; top:13px; width:27px; text-align:center;	 }

.healthMeter { position:absolute; top:-23px; left:20px; width:27px; height:28px; z-index:7; }
.healthMeter span { position:absolute; z-index:8; font-weight:bold; color:#FFF; font-size:.6em; top:13px; width:27px; text-align:center;	 }

/*--------Game meters-----------*/
.movesWrapper { float:right; width:326px; position:absolute; z-index:2; top:555px; right:290px; opacity:.9; }
.nextMove { width:46px; height:45px; float:right; }
.nextMove img {  height:45px;  }
.movesIndicator { float:right; width:280px;position:relative; z-index:2; padding:0 0 0 0; }
.movesIndicator span { float:right; width:46px; height:45px; overflow:hidden; z-index:3; position:relative; margin:0 10px 0 0; }
.movesIndicator span img {  position:relative; top:0px;  }
.movesIndicator span.wrong img { position:relative; top:-90px; }
.movesIndicator span.wrong {  }
.movesIndicator span.right img { position:relative; top:-45px; }
.movesIndicator span.right { }

.trigger { float:right; width:13px; height:13px; overflow:hidden; position:relative; z-index:3; left:-143px; top:-12px; }
.triggered { float:right; width:13px; height:15px; overflow:hidden; position:relative; z-index:3; left:-1px; top:-12px; }
.triggered img { position:relative; top:-14px;   }

/*--------Power Bar-----------*/
.powerbar { position:absolute; top:15px; left:15px; z-index:8; width:202px; height:40px; }
.powerPercentage { position:absolute; z-index:10; width:100%; text-align:center; padding:10px; font-weight:bold; font-size:1.2em; color:#370800; text-shadow:1px 1px 0 #ff8f7b; }
.powerbarFull { position:absolute; top:8px; left:30px; z-index:9; overflow:hidden; }

/*--------Level Bar-----------*/
.levelMeter { position:absolute; top:19px; left:370px; z-index:8; width:297px; height:29px; padding:10px 0 0 0;  }
.levelMeter strong { width:297px; position:absolute; z-index:9; height:25px; text-align:center; text-shadow:1px 1px 0 #fed900; padding:4px 0 0 0; font-size:1.2em; top:0px; }
.levelMeterCrowd { position:absolute; top:5px; right:0px; width:20px; height:31px; z-index:10; }
.levelMeterHighlight { position:absolute; z-index:9; width:297px; height:29px; overflow:hidden; padding:10px 0 0 0; top:-10px;  }


/*--------Power ups-----------*/
.powerUpsWrapper { float:left; width: 80px; position:absolute; top:100px; left:10px; }
.powerUpSlot { float:left; width:43px; height:43px; position:relative; z-index:14; margin:15px 0 0 5px; }
.powerUpItem img  { position:relative; z-index:15; }
.powerUpSlot small { float:left; width:16px; height:16px; position:absolute; z-index:16; overflow:hidden; top:30px; right:-5px; }
.powerUpSlot small img { position:absolute; top:-16px; }
.powerUpSlot small strong { position:relative; z-index:17; text-shadow:1px 1px 0px #ffac44; font-weight:bold; font-size:.8em; width:16px; text-align:center;display:block; margin:3px 0 0 0;  }

.powerUpHotKey { position:absolute; top:-5px; left:-5px; z-index:18; }
.powerUpHotKey strong { position:relative; z-index:19; text-align:center; width:21px; float:left; padding:3px 0 0 0; font-weight:bold; }
/*--------Items Slots-----------*/
.itemsSlotsWrapper { float:left; width:195px; position:absolute; top:560px; height:48px; left:10px; }
.itemSlot { float:left; width:43px; height:43px; position:relative; z-index:14; margin:3px 0 0 5px; }
.itemSlot span img  { position:relative; z-index:15; }
.itemSlot small { float:left; width:16px; height:16px; position:absolute; z-index:16; overflow:hidden; top:30px; left:-5px; }
.itemSlot small strong { position:relative; z-index:17; text-shadow:1px 1px 0px #ffac44; font-weight:bold; font-size:.8em; width:16px; text-align:center;display:block; margin:3px 0 0 0;  }

.itemSlot small.empty strong  { text-shadow:1px 1px 0 #919191; }
.itemSlot small.empty  .positioned { top:0; }

.itemSlot small .positioned { top:-16px; }

.pauseScreen { float:left; width:100%; text-align:center; position:absolute; z-index:100; opacity:.3; top:150px; }
.resumeScreen { float:left; width:100%; text-align:center; position:absolute; z-index:100; opacity:.3; top:150px; }

.controls { position:absolute; bottom:-2px; right:0; z-index:17; }

.pauseBtn { position:absolute; z-index:18; right:10px; overflow:hidden; width:79px; height:78px; top:-30px; }
.pauseBtn:hover img { position:relative; top:-78px; }

.playBtn { position:absolute; z-index:18; right:10px; overflow:hidden; width:79px; height:78px; top:-30px; }
.playBtn:hover img { position:relative; top:-78px; }

.exitBtn { position:absolute; z-index:18; right:90px; overflow:hidden; width:49px; height:48px; top:5px }
.exitBtn:hover img { position:relative; top:-48px; }


#marketplace { left:0px; position:absolute; top:-90px; z-index: 10; width:960px; height:620px; }

/*-------Widnow-------*/
.ar .window { float:right; width:715px; background:url(../images/ar/marketplace/window_background.png) no-repeat top; margin:35px 45px 0 27px; position:relative; height:401px; top:70px; right:100px;}
.ar .windowTitle { float:right; width:116px; height:44px; position:relative; top:-49px; right:300px; }
.ar .close { width:39px; height:39px; position:relative; left:-20px; top:-15px; overflow:hidden; z-index:3; }
.ar .close a { display:block; width:39px; height:39px; }
.ar .close a:hover img { position:absolute; top:-39px; }

/*-------Tabs-------*/
.ar .tabsWrapper { float:right; width:699px; margin:0 8px; top:-35px; position:relative; z-index:2; }
.ar .tabsContent { float:right; width:694px; background:#dadada; border:3px solid #757575; -webkit-border-radius: 10px; -webkit-border-top-left-radius: 0; -moz-border-radius: 10px; -moz-border-radius-topleft: 0; border-radius: 10px; border-top-left-radius: 0; position:relative; top:-3px; height:339px;}

.ar .tabs { float:right; width:699px;}
.ar .tabs li { float:right; width:109px; height:43px; margin:0 5px 0 0; position:relative; overflow:hidden; z-index: 1}
.ar .tabs li a { float:right; width:109px; height:30px;text-align:center; text-decoration:none; font-weight:bold; font-size:1.1em; color:#636363; text-shadow:1px 1px 0px #f0f0f0; padding:13px 0 0 0; position:absolute; z-index:2; }
.ar .tabs li.selected a { color:#000; }
.ar .tabs li.selected img { position:absolute; top:-43px; }
.ar .tabs li:hover a { color:#6b5623; }
.ar .tabs li:hover img { position:absolute; top:-86px; }
.ar .tabs li.selected:hover a { color:#000 }
.ar .tabs li.disabled a { color:#acacac; cursor:default; }
.ar .tabs li:hover.disabled img { position:absolute; top:0; }
.ar .tabs li.selected:hover img { position:absolute; top:-43px; }

/*-------Scrolled Items-------*/
.leftControls { float:left; width:33px; position:absolute; left:-21px; top:130px; z-index:10; }
.leftControls a { display:block; width:33px; height:33px; margin:3px 0;  overflow:hidden; position:relative; cursor:default; }
.leftControls a.selected img { position:absolute; top:-33px; cursor:pointer; }

.rightControls { float:left; width:33px; position:absolute; right:-21px; top:130px; z-index:10; }
.rightControls a { display:block; width:33px; height:33px; margin:3px 0;  overflow:hidden; position:relative; cursor:default; }
.rightControls a.selected img { position:absolute; top:-33px; cursor:pointer;  }

.floatingItems { float:left; width:687px; overflow:hidden; margin:3px 3px 5px 3px; position:relative; }
.floatingItems ul { float:left; width:680px; }
.floatingItems ul li { float:left; width:136px; height:167px; position:relative; }

.crowedItem { float:left; width:136px; height:167px; position:absolute; margin:10px 0 0 5px; top:5px; left:5px; }
.crowedItem:hover .highlighted, .crowedItem.selected .highlighted { display:block;}
.crowedItemTitle { width:117px; height:31px; position:absolute; top:-10px; left:3px;  }
.crowedItemTitle h2 {font-size: 1.2em; height: 26px; margin: 0; padding: 5px 0 0; position: absolute; text-align: center; text-shadow: 1px 1px 0 #FFCE57; width: 117px; z-index: 2; }

.highlighted { display:none; position:absolute; z-index:0; top:-14px; left:-7px; }

.crowedItemDetails { float: left; height: 36px; left: 4px; overflow: hidden; position: absolute; top: 110px; width: 115px; z-index:21;}
.crowedItemDetails a { color: #304C00; display: block; font-size: 1.2em; font-weight: bold; height: 28px; padding: 8px 0 0; position: absolute; text-align: center; text-decoration: none; text-shadow: 1px 1px 0 #CCF08E; width: 115px; z-index: 21; }
.crowedItemDetails:hover img { position: absolute; top: -36px; }

.crowedItemPrice { float:left; position:absolute; width:59px; height:33px; top:85px; left:68px; }
.crowedItemPrice h5 { position:absolute; width:59px; height:20px; z-index:2; margin:0px; padding:2px 0 0 0; text-align:center; font-size:1.1em; text-shadow:1px 1px 0 #fffaae; color:#763d00; }

.crowedItemImage { float:left; width:60px; height:90px; position:absolute; top:19px; left:14px; }



.dialogBox { position:absolute; z-index:6; width:513px; height:131px; top:95px; left:95px; }
.dialogBox h2 { position:absolute; z-index:6; top:10px; left:20px; color:#513b05; text-shadow:1px 1px 0 #fff7e2; }
.dialogBox p { position:absolute; z-index:6; top:50px; left:20px; color:#513b05; text-shadow:1px 1px 0 #fff7e2; }
.dialogBox .close { z-index:7; left:483px; top:-10px; }

.detailsBox { position:absolute; z-index:22; width:185px; top:45px; left:95px; border:3px solid #CCC; -webkit-border-radius: 10px; -webkit-border-top-left-radius: 0; -moz-border-radius: 10px; color:#333; padding:10px; background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */ text-shadow:1px 1px 0 #fff; -webkit-box-shadow: 3px 3px 0px #333; -moz-box-shadow: 3px 3px 0px #333; box-shadow: 3px 3px 0px #333; }
.detailsBox .close { z-index:7; left:483px; top:-10px; }
.crowedMemberImage { position:absolute; z-index:7; width:60px; height:90px; overflow:hidden; }
.detailsBox .crowedItem { position:absolute; z-index:7; top:20px; left:20px; }

.crowdMemeberDetails { position:relative; z-index:23; width:215px;}
.crowdMemeberDetails dl { float:left; width:100%; margin:0px; padding:0px;}
.crowdMemeberDetails dl + dl { margin:10px 0 0 0; }
.crowdMemeberDetails dl dt { float:left; width:55%; margin:0px; padding:0px; text-align:left; padding:0 0 0 4%; font-weight:bold; }
.crowdMemeberDetails dl dd { float:left; width:25%; margin:0px; padding:0px; text-align: center; }
.crowdMemeberDetails dl dd + dd { width:11%; text-align:right; }
.crowdMemeberDetails dl dd table { margin:3px 0 0 0; }


.linkToFriend { position:absolute; width:41px; height:51px; z-index:7; right:8px; top:69px; }
.linkButton { position:absolute; z-index:8; top:28px; }
.faceboookImage { position:absolute; z-index:9; top:4px; left:4px; }

.detailsBox .confirmButton { top:195px; }
.detailsBox .cancelButton { top:195px; }



#send_requests { height: 40px; position: absolute; top: 685px; width: 780px; padding: 20px; background-color: lightBlue; }

#inbox { height: 300px; position: absolute; top: 730px; width: 780px; padding: 20px; background-color: lightBlue; }

.bandageMessage { position:absolute; top:155px; left:160px; z-index:18; }
.bandageMessage span { position:absolute; top:100px; left:190px; font-size:3.5em; color:#000; z-index:19; font-weight:bold; color:#ff7800; text-shadow:1px 1px 0 #fff7e2; }


.errorMessage { position:absolute; top:155px; left:115px; z-index:18; }

.crowdMessage { position:absolute; top:155px; left:160px; z-index:19; }
.crowdMessage span { position:absolute; top:76px; left:86px; font-size:3.5em; color:#000; z-index:20; font-weight:bold; color:#ff7800; text-shadow:1px 1px 0 #fff7e2; }

.bandageCounter { position:absolute; top:10px; right:30px; z-index:18; width:166px; height:34px; }
.bandageCounter span { position:absolute; width:50px; height:20px; z-index:19; font-weight:bold; font-size:1.1em;  text-align:center; top:8px; right:5px;  color:#4f2500; text-shadow:1px 1px 0 #ffa862;}

.ar .calendarWrapper ul li { float:right; }
.ar .homeWrapper ul li { float:right; }
.ar .missionSide { margin:47px 0 0 0; }
.ar .missionContent { margin:50px 0 0 0; } 


.langBtn { position:absolute; top:15px; right:10px; width:39px; height:40px; z-index:12; overflow:hidden; cursor:pointer; }
.langBtn:hover img { position:absolute; top:-40px; } 


.healthStatus { position:absolute; top:50px; left:15px; z-index:1; width:16px; height:46px; }
.healthStatus span { position:absolute; z-index:17; display:block; height:46px; width:16px; overflow:hidden; top:0; }


.cantJoin { position:absolute; z-index:20; padding:10px; width:113px; margin:-13px 0 0 -6px; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; -webkit-box-shadow:0px 0px 10px #000000; -moz-box-shadow:0px 0px 10px #000000; box-shadow:0px 0px 10px #000000; background:#000000; opacity: 0.6; height:144px; text-align:center;  }

.cantJoin img { float:left; margin:60px 0 0 10px; }
.cantJoin span { float:left; color:#efa900; font-weight:bold; font-size:1.5em; margin:61px 0 0 0; }
.cantJoin strong { float:left; color:#efa900; clear:both; margin:0 0 0 5px; }

.recoveryTimer { position:absolute; z-index:20; top:22px; left:11px; width:22px; height:25px; overflow:hidden; }
.recoveryTimer img { position:absolute; top:-75px; }


.highlightedItem { position:absolute; z-index:2147483647; -webkit-box-shadow: 0px 0px 24px #F00; -moz-box-shadow: 0px 0px 24px #F00; box-shadow: 0px 0px 20px #F00; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
.highlightedBackground { position:absolute; z-index:2147483646; background:#000; opacity:.9; width:970px; height:620px; top:0; left:0; }
.highlightedBackground h2 { font-weight:bold; font-size:8em; color:#f7f18b; width:970px; text-align:center; margin:200px 0 0 0; position:relative; }
.highlightedBackground h3 { font-weight:bold; font-size:1.7em; color:#f7f18b; width:970px; text-align:center; margin:20px 0 0 0; position:relative; }

.gameplayGuide { position:relative; top:560px; left:10px; background:#000; opacity:.5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding:10px; float:left; width:auto; }
.gameplayGuide a { display:block; top:0px; left:0px; position:absolute; width:95px; height:20px; }

.enemiesHealth {position:absolute; z-index:14; top:300px; left:600px; width:55px; height:12px; overflow:hidden; }
.enemiesHealthEmpty { position:absolute; z-index:15;  overflow:hidden; }

/*nermeen style*/
.weatherBar { position:absolute; width:35px; height:35px; top:18px; right:150px; overflow:hidden; }
.weatherBar span.cloudy img{ position:absolute; top:-34px; }
.weatherBar span.sunny img{position:absolute; top:-68px;}
.weatherBar span.night img{position:absolute; top:0px;}