.ar .weatherBar span.night img{position:absolute; top:0px;}

.ar .container { width:950px; height:685px; margin:0 auto; position:relative; }

/*--------Timeline Screen-----------*/
.ar .missionDetails { position:relative; top:10px; right:122px; float:none; width:730px; height:316px; z-index:6; }
.ar .missionDetails .close { left:-20px; top:30px; z-index:8; }

.ar .missionWrapper { float:right; width:690px; margin:-19px 20px 20px 20px;  position:relative; z-index:7; }
.ar .missionImages { float:right; width:200px; margin:45px 10px 0 0; }
.ar .missionImages img { float:right; width:190px; margin:0 5px 5px 0; position:relative; z-index:10;}
.ar .missionNumber { position:relative; top:170px; left:35px; color:#604f00; text-shadow:1px 1px 0 #d3b632; font-weight:bold; font-size:2.2em; z-index:12; }
.ar .missionTime { position:relative; top:169px; left:50px; color:#604f00; text-shadow:1px 1px 0 #d3b632; font-weight:bold; font-size:1.6em; z-index:12; }

.ar .missionContent { float:right; width:315px; margin:30px 0 0 0;text-align:right; }
.ar .missionContent h3 { width:100%; font-weight:bold; font-size:2em; margin:5px 0 0 0;  }
.ar .missionContent p { margin:5px 0 0 0; font-size:1.2em; }
.ar .missionContent ul { list-style:square;  font-size:1.2em; margin:5px 0 0 0; }
.ar .missionContent ul li { margin:0 20px 5px 0; }

.ar .playButton { float:left; width:142px; height:60px; overflow:hidden; position:absolute; top:275px; left:5px;}
.ar .playButton:hover img { position:relative; top:-60px;  }

.ar .nextButton { float:left; width:142px; height:60px; overflow:hidden; position:absolute; top:204px; left:5px;}
.ar .nextButton:hover img { position:relative; top:-60px;  }


.ar .missionSide { float:right; width:162px; position:relative; margin:40px 0 0 0; }
.ar .newStuff { float:right; width:162px; height:147px; }
.ar .newStuffItem { position:relative; z-index:12; height:97px; width:131px; float:left; margin:40px 0 0 16px; }

/*-------Widnow-------*/
.ar .close { width:39px; height:39px; position:relative; left:-269px; top:-15px; overflow:hidden; z-index:3; }
.ar .close a { display:block; width:39px; height:39px; }
.ar .close a:hover img { position:absolute; top:-39px; }


.ar .calendarWrapper ul li { float:right; }
.ar .homeWrapper ul li { float:right; }
.ar .missionSide { margin:47px 0 0 0; }
.ar .missionContent { margin:50px 0 0 0; } 

.ar .bandageCounter { right:522px; }
.ar .tabs li { float:right; margin:0 -1px 0 5px; }
.ar .tabsContent { border-top-left-radius: 10px;  -moz-border-radius-topleft: 10px; border-top-right-radius: 0px;  -moz-border-radius-topright: 0px;  }
.ar .floatingItems ul li { float:right; }
.ar .crowedItem { margin:10px 5px 0 0; }
.ar .windowTitle { left:589px; }
.ar .notifications .close { left:-270px; }
.ar .notifications .windowTitle { left:562px; }
