@charset "utf-8";
/* CSS Document */
body { margin:0px; padding:0px; font-size:12px; font-family:Tahoma, Geneva, sans-serif; width:100%;}
ul { list-style:none; margin:0px; padding:0px; }

.uiContainer { width:970px; height:620px; position:relative; top:0px; margin:0 auto; }
.uiContainer .background { height:620px; position:absolute; left:0; top:0; width:970px; }
.positioned { position:absolute; top:0px; left:0px; z-index:1; }



#gameContainer { position:relative; top:-620px; z-index:10; width:970px; height:620px; margin:0 auto; }

