#timeline {
    background: none repeat scroll 0 0 gray;
    height: 300px;
    left: 5%;
    opacity: 0.6;
    position: absolute;
    top: 150px;
    width: 90%;
}

/*--------Win Lose Screen-----------*/
.winLose { position:relative; top:93px; width:643px; height:411px; z-index:1; margin:0 auto; }
.winLose .close { z-index:6; left:615px; }

.winLoseTitle { position:absolute; width:300px;  top:20px; left:30px; z-index:6; color:#465c04; text-shadow:1px 1px 0 #dfedb0; }
.winLoseTitle h2 { font-weight:bold; font-size:2.5em; margin:10px 0 0 0; padding:0px; }
.winLoseTitle h4 { font-weight:bold; font-size:1.4em; margin:10px 0 0 0; padding:0px; }


.winLoseScore { position:absolute; width:300px; top:30px; right:20px; z-index:6; }
.winLoseScore h5 { float:left; width:30%; margin:20px 5% 0 0; font-weight:bold; font-size:1.2em; color:#688416;  }
.winLoseScore span { float:left; width:40%; padding:5% 10%; font-size:2em; font-weight:bold; color:#ffb80b; background:#e7f3c2; border:1px solid #b5ce6a; -webkit-border-radius: 10px;  -moz-border-radius: 10px; border-radius: 10px; text-align:center; }

.starsWrapper { position:absolute; width:256px; height:75px; z-index:6; padding:0 0 0 20px; top:125px; left:185px; }
.star { float:left; width:56px; height:54px; z-index:7; overflow:hidden; margin:10px; position:relative;}
.star.selected img { position:absolute; top:-54px; }

.challengeFriends { position:absolute; top:215px; left:185px; }

.challengeFriends .cancelButton { left:285px; top:35px; }

.missionIcons { position:absolute; top:330px; left:220px; z-index:7; }
.missionIcons a { float:left; width:60px; height:60px; overflow:hidden; margin:0 0 0 10px; position:relative; }
.missionIcons a:hover img { position:absolute; top:-60px; }
